html, body {
    width: 100%;
    margin: 0;
}

h1 {
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h2 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 425px){
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}


/*header start*/

header ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

header li {
    display: inline-block;  
    margin-top: 2.5rem;
    margin-right: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 5;
}

li a {
    font-family: 'Roboto Mono', monospace;
    color: white;
}

.logo {
    margin: 1em;
    color: white;
}

.logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: white;
}

@media only screen and (min-width: 426px){

    .mobile{
        display: none;
    }

    
}

@media only screen and (max-width: 768px){

    .desktop {
        display: none;
    }

    .logo {
        display: none;
    }
    header {
        display: block;
        padding:0 0.2975rem;
    }

    header .mobile {
        display: flex;
        justify-content: space-evenly;
    }
    
    header li {
        margin-top: auto;
        margin: 1rem 0.2rem;
        font-size: 1.25rem;
    }

    header button {
        background-color: black;
        color: white;
        border: 0.125rem solid white;
        border-radius: 0.5rem;
        letter-spacing: 0.125rem;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.25rem;
    }
    header button:active {
        background-color: white;
        color: black;
    }
}

@media only screen and (max-width: 376px) {
    .desktop {
        display: none;
    }

    header .mobile {
        display: flex;
        justify-content: space-around;
    } 
}

@media only screen and (max-width: 321px){
    header li,header button {
        font-size: 1rem;
    }
}

/*header end*/

/*main*/


/*section mission*/

.mission {
    height: 100vh;
    background-image: url("./styles/images/yong-chuan-tan-SGX0EAkJyqQ-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;    
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.mission>h1 {
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
}

.mission-container {
    background-color: black;
    padding: 0 3rem;
    margin: 0 1rem;
    width: 30rem;
    height: 20rem;
    z-index: 2;
    border-radius: 2rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
}

.mission-container button {
    height: 3rem;
    width: 17rem;
    margin-top: 3rem;
    background-color: black;
    color: white;
    border: 0.1875rem solid white;
    border-radius: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;

}

    .mission-container button:active {
        color: black;
        background-color: white;
    }

@media only screen and (min-width: 1024px){

    .mission-container button:hover {
        transition: height 0.5s linear, width 0.5s linear, margin-top 0.5s linear;
        margin-top: 2.5rem;
        height: 4rem;
        width: 20rem;
    }
}

@media only screen and (max-width: 768px){
    
    .mission {
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 3rem;
    }

    .mission h1 {
        font-size: 4rem;
    }

    .mission-container {
        height: auto;
    }

    .mission-container button {
        display: none;
    }

    
}

/*section mission end*/

/*section product*/

.journey-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.journey {
    height: 30rem;
    width: 40rem;
    padding-right: 2rem;
    margin-bottom: 3rem;
    border: 0.1875rem solid black;
    border-radius: 2rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
}

.text-image-container {
    width: 80vw;
    display: flex;
    justify-content: center;
}

.text-image {
    display: flex;
    justify-content: center;
    text-align: left;
    padding-left: 1rem;

}


.product img {
    display: inline-block;
    height: 20rem;
    width: auto;
    margin-left: 1rem;
    margin-bottom: 4rem;
    border: 0.125rem solid white;
    border-radius: 1.875rem;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {

    .journey-container {
        padding: 0 1rem;
    }

    .journey {
        padding: 0;
        width: 80vw;
    }

    .text-image {
        width: auto;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .product img {
        width: 90%;
        margin: 0rem;
    }
}

@media only screen and (max-width: 425px){
    .journey, .text-image {
        width: 20rem;
        height: auto;
    }
    .product img {
        width: 15rem;
        height: auto;
    }
}

@media only screen and (max-width: 375px){
    .journey,.text-image {
        width: 18rem;
    }
}

/*section product end*/

/*section teammate start*/
.teammate {
    background-image: url("./styles/images/yong-chuan-tan-SGX0EAkJyqQ-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed; 
    color: white;
    font-family: 'Roboto', sans-serif;
}
.teammate h2 {
    padding: 1rem 0 0 0;
    margin-bottom: 4rem;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}

.team {
    background-color: black;
    border-radius: 1.875rem;
    text-align: center;
    margin-bottom: 2rem;
}

.team h3 {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.0625rem;
}

.team p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
}

.team img {
    border-radius: 1.875rem;
    height: 21rem;
    width: 17rem;
    object-fit: cover;
}

/*section teammate end*/

/*section investors start*/
.investors {
    background-color: black;
    padding: 2rem 2rem 0 2rem;
}
.investors h2 {
    margin:0 0 2rem 0;
    padding: 0rem;
    color: white;
}

.investor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.investor {
    background-color: white;
    color: black;
    margin-bottom: 1rem;
    border-radius: 2rem;
    text-align: center;
}

.investor h3 {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.0625rem;
}

.investor p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.investor img {
    padding: 1rem 1rem 0 1rem;
    height: 30rem;
    width: 21rem;
    border-radius: 2rem;
    object-fit: cover;
}

@media only screen and (max-width: 426px){
    .investor img {
        width: auto;
    }
}

@media only screen and (max-width: 375px){
    .investor img {
        height: 25rem;
    }
}
/*section investors end*/

/*footer start*/

footer h3 {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.0625rem;
    margin-top: 0;
}

.contacts {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.rights {
    padding: 0 1.25rem;
    display: flex;
    justify-content: space-between;
}

.rignts h3 {
    margin-top: 0;
}

.rights img {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
}

.creator {
    font-weight: 200;
    margin: 0 1.25rem;
    color: white;
    background-color: black;
    padding: 0.25em;
    border-radius: 1rem;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    footer .mail {
        display: none;
    }
}

@media only screen and (max-width: 375px){
    footer img {
        display: none;
    }
}

/*footer end*/